

<!-- Adding cases to randomize  -->
<h1> BLEND-IT </h1>
<p> When the decision is too hard it's simple to use Blender </p>


<!-- > <input class="question" type="text" placeholder="Enter your question here..">
 </div>

 <div> -->
<div class="jumbotron">
<h1>
<%= form_for @post do |f| %>
    <%= f.label :question, 'What are you thinking of ..?'%>
    <%= f.text_field :question%>
    </h1>
    <h3> Share your options <h3>
    <%= f.label :answer_one, '#1'%>
    <%= f.text_field  :answer_one%>
    <br>
    <%= f.label :answer_two, '#2'%>
    <%= f.text_field :answer_two%>
     <br>
    <%= f.label :answer_three, '#3'%>
    <%= f.text_field :answer_three%>
     <br>
  <%= f.submit "Blend-it", :class => "btn waves-effect waves-light" %>

<% end %>

<div>

<div class="alert alert-dismissible alert-primary">
<% if @answer %>

Your answer is: 
<%= @answer %>

<% end  %>
</div>

</div>
</div>