

<!-- Adding cases to randomize  -->
<div style="text-align:center;">
<br>
<h1> BLEND-IT </h1>
<h5> When the decision is too hard it's simple to use Blender </h5>
<div>


<!-- > <input class="question" type="text" placeholder="Enter your question here..">
 </div>

 <div> -->
<div class="jumbotron" style="max-width: 60rem; text-align: center; margin: auto;">
<%= form_for @post do |f| %>
    <h1><%= f.label :question, 'What are you thinking of ..?'%></h1>
    <br>
    <h1><%= f.text_field :question%></h1>
    <h3> Share your options <h3>
    <%= f.label :answer_one, '#1'%>
    <%= f.text_field  :answer_one%>
    <br>
    <%= f.label :answer_two, '#2'%>
    <%= f.text_field :answer_two%>
     <br>
    <%= f.label :answer_three, '#3'%>
    <%= f.text_field :answer_three%>
     <br>
  <%= f.submit "Blend-it", :class => "btn waves-effect waves-light" %>
 

<% end %>

 <%= link_to 'Re-blend', posts_path , :class => "btn waves-effect waves-light" %>

<div>

<div class="alert alert-dismissible alert-primary">
<% if @answer %>

Hmm?
<%= @answer %>

<% end  %>
</div>

</div>
</div>